<h1>Legislator Lookup</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<form class="ui form">
  <div class="field">
    <label for="zip">Zip</label>
    {{input value=zip}}
  </div>
  <button class="ui primary basic button" {{action 'zipLookup'}}>Submit</button>
</form>
</div>
</div>
