<div class="well">
{{lookup-form zipLookup='zipLookup'}}
</div>
<br>

<button class="massive ui primary basic button">{{#link-to 'committee'}}Committees{{/link-to}}</button>
<br>

<button class="massive ui primary basic button">{{#link-to 'bills'}}Current Bills {{/link-to}}</button>
